@charset "utf-8";
/* CSS Document */
body	{


}

.wraper {
width: 1324px;
margin: auto;
}
.ui-grid-e {

}

.ui-grid-e .ui-bar { 
width: 120px;
}
.ui-block-f {
float: left;
}

.col-md-6 {

	display: inline-block;
	margin: 10px;
}
.row {
	margin: 0px !important; /* disabled no need margins from bootstrap */
}
